.App {
  font-family: sans-serif;
  text-align: left;
  padding: 0rem 5rem;
}
html {
  background: #d1d5db;
}

:root {
  --primary-color: #9ca3af;
  --secondary-color: rgb(233, 233, 233);
}
button {
  cursor: pointer;
  background: var(--primary-color);
  border-radius: 0.5rem;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  border: 1px solid #d1d5db;
  margin: 1rem 0.3rem;
}

li {
  list-style: none;
  font-size-adjust: 1rem;
  padding: 1rem;
  background: var(--secondary-color);
  border: 1px solid #d1d5db;
  width: 70%;
  margin: 1rem 3rem;
  border-radius: 0.5rem;
}
